/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 
*/

/* .rubik-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.nav-text-link {
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    text-decoration: none;
    /* font-size: 28px; */
    font-optical-sizing: auto;
    font-weight: 28;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2;
}

.nav-text-link:hover {
    color: var(--text-color-3);
    cursor: pointer;
}

.active {
    color: var(--text-color-3);
}

.jit-logo {
    width: auto;
    height: 100px;
}

@media screen and (max-width: 576px) {
    .nav-text-link {
        font-size: 6px;
    }

    .jit-logo {
        width: auto;
        height: 30px;
    }
}