/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 
*/

/* .rubik-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.nav-text-link {
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    text-decoration: none;
    /* font-size: 28px; */
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2;
    z-index: 9;
}

.navbar-background {
    display: flex;                    /* Flexbox layout */
    justify-content: center;          /* Center items horizontally */
    align-items: center;              /* Align items vertically in the center */
    width: 100%;                      /* Full width */
    background-color: black;          /* Background color */
    height: 50px;                     /* Fixed height */
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 10;
  }
  
  .nav-text-link {
    margin: 0 25px;                   /* Margin on both sides to create 30px space between links */
    text-decoration: none;            /* Removes underline from links */
    color: white;                     /* Sets text color to white */
  }
  
  /* This ensures the content is visually centered without unnecessary margin at the ends */
  .navbar-background > :first-child {
    margin-left: 0;                   /* Removes margin on the left side of the first link */
  }
  
  .navbar-background > :last-child {
    margin-right: 0;                  /* Removes margin on the right side of the last link */
  }
  
  

/* Adjust for mobile screens */
@media (max-width: 768px) {
    .navbar-background {
        background-size: auto 100%; /* Scale height automatically to maintain full width */
        min-height: 12vh;
    }
}

.nav-text-link:hover {
    color: var(--text-color-3);
    cursor: pointer;
}

.active {
    color: var(--text-color-3);
}

@media screen and (max-width: 576px) {
    .nav-text-link {
        font-size: 4vw;
    }

    .jit-logo {
        width: 12vw;
        height: 12vw;
    }
}